.content {
  position: relative;
  width: $content-width;
  min-height: 200px;
  background-color: burlywood;
  margin: 0 auto;
  padding: 25px 0px 25px 25px;

  .left-triangle {
    padding: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: #007bff transparent transparent transparent;
  }
  .right-triangle {
    padding: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: transparent chocolate transparent transparent;
  }
}
