nav {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: $nav-background-color;
  z-index: 99;
  left: calc(50%- 685px);
  // left: 50%;
  .logo {
    margin-top: 150px;
    width: 100%;
    height: 180px;
    background-color: gray;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 320px;
    a {
      color: $link-color;
      text-decoration: none;
      margin-left: 40px;
    }
  }
}
